.transactionTable {
    margin:20px auto;
}

.trxHeaders {
    width:150px;
    color:white;
}
.transactionRow {
    width:150px;
}

thead {
    background-color:#2f4f4f;
    border:2px solid black;
}

tbody{
    border:2px solid black;
    justify-content: center;
    align-items: center;
}

.transactionTable tr:nth-child(even){background-color: #f2f2f2;}
.transactionTable tr:hover {background-color: #9b9b9b;}
